@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap');


html body{
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  overflow-x: hidden;
  background-color: #F5F5F5;
}


a{
  text-decoration: none;
  color: inherit; 
}

header{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow-y: hidden;

}
#menu{
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}
#menu #logo{
  width: 400px;
  margin: 50px auto;
}
#menu #background{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(40%);
}
#menu h1{
  font-size: 30px;
  max-width: 50%;
  min-width: 300px;
  text-align: center;
  color: white;
}
#menu h1 span{
  color: #CD4C4E;
}
#menu ul{
  width: 50%;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 30 auto;
}
#menu ul li{
  font-size: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 10;
}

#menu ul li a::before{  
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 3px solid #CD4C4E;
  bottom: 0;
  right: 300px;
  transition: 0.7s all ;
}

#menu li a{
  text-decoration: none;
  position: relative;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 14px 30px;
  text-transform: uppercase;
}

#menu li a:hover:before{
  right: 0;
}

#menu #arrow-down{
 
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  animation-name: arrow-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#menu #arrow-down i{
  font-size: 28px;
  color: #CD4C4E;
}
/* END HEADER */

/* END DESTAQUE NOTICIAS  */
#cards-noticias{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  color: black;
  margin: 30px 0;
}
#cards-noticias  p,
#cards-noticias  span,
#cards-noticias  h1,
#cards-noticias  h2,
#cards-noticias  h3{
  color: black;
}
#cards-noticias .card p{
  font-size: 14px;
  font-weight: 300;
}

#cards-noticias .card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 30px;
  margin: 10px 0;
  background-color: #FFF;
  border-radius: 6px;
}
#cards-noticias .card img{
  height: 150px;
  border-radius: 6px 6px 0;
  
  
}

#cards-noticias .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#cards-noticias .block-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  
  flex-wrap: wrap;
  float: left;
  padding: 2px 16px;
  margin: 0 auto;
}
#cards-noticias .container{
  padding: 10px 20px 20px;
  text-align: center;
}
.title,.block-container{
  width: 100%;
  margin: 0 auto;
  text-emphasis: center;
  align-items: center;

}
.title h2{
  color: #CD4C4E;
  font-size: 35px;
  text-align: center;
}
.title p{
  text-align: center;
}
#perfil{
  margin: 40px 0;
  max-width: 1024px;
  margin: 0 auto;
}
#perfil i{
  font-size: 19px;
  width: auto;
}

#perfil .content a:hover{color: #CD4C4E;}
#perfil .content a{color: #9A999E}

#perfil img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #CD4C4E;

}
#perfil .block-container{
  display: flex;
  transition: 0.3s;
  padding: 20px 30px;
  margin: 10px 0;
  background-color: #FFF;
  border-radius: 6px;
  margin: 0 0 40px 0;
}
#perfil .content{
  padding-left: 20px;
}
#perfil .content p{
  font-weight: 300;

}
#perfil .content b{color: #CD4C4E; padding-right: 3px;}

form input{
  border: none;
  background-color: #F5F5F5;
  height: 35px;
  border-radius: 35px;
  outline: none;
  padding-left: 20px;
}
form input:last-child{
  background: #CD4C4E;
  color: white;
  width: 60px;
  padding: 0;
}
@media(max-width:768px){
  #menu #logo{
    width: 240px;
  }
  #menu h1{
    font-size: 20px;
  }
  #menu ul{
    width: 100%;
  }
  #menu li a{
    padding: 0;
  }
  #perfil .block-container{
    width: 80%;
    min-width:300px;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
  }
}
@keyframes arrow-down {
  to   { bottom:0px;}
  from { bottom:10px;}
}